body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* 
###########################
#           Common        #
###########################
*/
h1 {
    font-size: 50px;
    color: #333;
}
.container {
    padding: 0 100px;
}
.half-width {
    width: 50%;
}
.link-btn {
    display: inline-block;
    margin-top: 20px;
    background: crimson;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}
.link-icon {
    margin-left: 15px;
    transition: transform 1s;
}

.link-btn:hover {
    background: linear-gradient(90deg, crimson, tomato);
}
.link-btn:hover .link-icon {
    transform: translateX(10px);
}

/* 
#############################
#           Header          #
#############################
*/

.header {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
    color: #333;
    font-size: 30px;
    font-weight: bolder;
    transition: transform 1s;
}
.logo:hover a {
    transform: scale(1.05);
}
.menu {
    display: flex;
}
.menu li {
    list-style-type: none;
}
.menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    transition: 0.6s;
    font-weight: bolder;
}
.menu li:hover a {
    color: crimson;
}

/* 
#############################
#       Main Section        #
#############################
*/

.home-section {
    display: flex;
}
.intro {
    width: 80%;
}
.display-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-item img {
    border-radius: 50%;
    animation: borderAnimation 1s linear 0s infinite alternate;
}
@keyframes borderAnimation {
    from {
        border: 1px solid rgba(255, 0, 0, 0.5);
    }
    to {
        border: 1px solid rgba(220, 20, 60, 0.2);
    }
}

/* 
#############################
#       Partner Section     #
#############################
*/

.partner-section {
    margin: 100px 0;
    padding: 0 165px;
}
.partner {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    border: 2px solid transparent;
    border-image: linear-gradient(
        45deg,
        rgba(128, 128, 128, 0.01),
        rgb(212, 212, 212),
        rgba(128, 128, 128, 0.01)
    );
    border-image-slice: 1;
    border-right: 0;
    border-left: 0;
}
/* 
#############################
#       Popular Section     #
#############################
*/

.popular-section {
    padding: 0 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular-section h2 {
    text-align: center;
    font-size: 30px;
    color: #333;
}
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
    /* margin: 0 auto; */
}
.collection {
    padding: 5px 15px;
    width: 350px;
    height: 100%;
    overflow: hidden;
    box-shadow: 5px 5px 40px rgba(128, 128, 128, 0.251);
    border-radius: 10px;
    transition: transform 1s;
}
.collection:hover {
    transform: translateY(-10px);
}
.collection img {
    width: 100%;
    height: 250px;
    transition: transform 1s;
}
.camera-image {
    overflow: hidden;
    width: 100%;
    height: 250px;
}
.camera-image:hover img {
    transform: scale(1.1);
}
.collection h3 {
    color: #222;
    font-size: 30px;
}
.collection .price {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.price {
    color: #222;
    font-size: 20px;
}
.rating {
    color: darkorange;
}
.rating span {
    color: #222;
    margin-left: 10px;
}

.collection p {
    color: #333;
    margin: 0;
    padding: 0;
}
.seemore-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}
.seemore-btn {
    text-decoration: none;
    color: crimson;
}
.seemore-btn:hover .link-icon {
    transform: translateX(10px);
}
/* 
#############################
#       Newsletter Section     #
#############################
*/

.newsletter {
    background: crimson;
    margin-top: 100px;
    padding: 30px;
    color: #fff;
}
.newsletter .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-title {
    text-align: center;
}
.newsletter-form input,
.newsletter-form button {
    font-size: 20px;
    padding: 10px 20px;
    color: #f5f5f5;
    border: 0;
}
.newsletter-form input {
    border-radius: 10px;
}
.newsletter-form input:focus {
    outline: 5px solid #0a0826;
}
.newsletter-form button {
    border-radius: 20px;
    background: #0a0826;
}
/* 
#############################
#       Footer Section     #
#############################
*/
.footer-section {
    background: #0a0826;
    padding: 30px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
.footer-title {
    font-size: 30px;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.social-icons a {
    text-decoration: none;
    color: #fff;
}
.social-icons i {
    padding: 10px;
    background: rgba(176, 196, 222, 0.103);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.social-icons a:hover i {
    transform: rotate(360deg);
}
